.soda-alist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.soda-alist--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.soda-alist--align-left {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.soda-alist--align-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.soda-alist--align-right {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.soda-alist__item {
    display: flex;
    align-items: center;
    position: relative;
}

.soda-alist--vertical .soda-alist__item {
    width: 100%;
}

.soda-alist--horizontal .soda-alist__item {
    flex-direction: row;
}

.soda-alist__item-link,

.soda-alist__item-link {
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    gap: 0.75em;
}

.soda-alist__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-right: 0.5em;
    flex-shrink: 0;
}

.soda-alist--icon-right .soda-alist__icon {
    order: 2;
    margin-right: 0;
    margin-left: 0.5em;
}

.soda-alist__text {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;
    flex: 1 1 auto;
}

.soda-alist__title {
    margin: 0;
}

.soda-alist__description {
    margin: 0;
    font-size: 0.875em;
}

.soda-alist__rich-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.soda-alist__content-text {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.soda-alist__rich-text > * {
    margin: 0;
}

.soda-alist__sublist {
    margin: 0.5em 0 0;
    padding-left: 1.5em;
}

.soda-alist__sublist li {
    margin: 0.25em 0;
}

.soda-alist__item--has-sublist .soda-alist__rich-text > .soda-alist__sublist {
    margin-top: 0;
}
