.soda-post-nav-each-item{
  height: 120px;
  width: 340px;
}
.soda-post-nav-prev-link,.soda-post-nav-next-link{
  height: 100%;
  width: 100%;
}
.soda-post-navigation-wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between
}
.soda-post-nav-next {
    text-align: right;
    align-items: center;
    height: 100%;
}
.soda-post-nav-prev {
    text-align: left;
    align-items: center;
    height: 100%;
}
.soda-post-nav-next a {
    justify-content: flex-end;
    height: 100%;
}
.soda-post-nav-prev a {
    justify-content: flex-start;
    height: 100%;
}
.soda-post-navigation-wrapper .soda-post-nav-next a,
.soda-post-navigation-wrapper .soda-post-nav-prev a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%
}
.soda-post-navigation-wrapper span.soda-post-nav-next-link,
.soda-post-navigation-wrapper span.soda-post-nav-prev-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
}
.soda-post-nav-next-label,
.soda-post-nav-next-title,
.soda-post-nav-prev-label,
.soda-post-nav-prev-title {
    color: #000000;
    z-index: 1
}
.soda-post-nav-next-arrow,
.soda-post-nav-prev-arrow {
    display: flex;
    z-index: 1
}
.soda-post-nav-next::before,
.soda-post-nav-prev::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity:1;
}
.soda-post-nav-next,
.soda-post-nav-prev {
    position: relative;
    align-items: center;
}