/*--------------------------------------------------
    Horizontal Gallery CSS
---------------------------------------------------*/




.panels {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panels-container {
  width: fit-content;
  flex: 0 0 auto;
}

.panel-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60vh;
  margin-inline: 50vw;
}

.panel {
  position: relative;
  width: 80vw;
  height: 100%;
  overflow: hidden;
  flex: 0 0 auto;
  display: flex;
  align-items: center;

}
.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.panels .panel-flex {
  gap: 20px;
}
